* {
    box-sizing: border-box;
}

// .streamsContainer {
    
//     &.shrink {
//         background-color: #262829;
//         display: flex;
//         position: fixed;
//         flex-direction: column;
//         padding: 60px 10px;

//         width: 400px;
//         height: calc(100vh - 65px);
//         left: 0;
//         top: 0;
//         overflow-y: scroll;

//         transform: translateX(-10%);
//         visibility: hidden;
//         opacity: 0;
//         transition: opacity .2s, transform .2s, visibility .15s;
//     }


//     &.show {
//         opacity: 1;
//         transform: translateX(0);
//         visibility: visible;
//     }




//     .title {
//         top: 0;
//         position: absolute;
//         left: 0;
//         width: 100%;
//         font-weight: 900;
//         opacity: .9;
//         padding: 10px;
//         display: flex;
//         justify-content: center;
//         font-size: 1.2em;
//     }

//     .stream {
//         position: relative;

//         background-color: #000;
//         width: 100%;
//         margin-bottom: 20px;

//         .vidContainer {
//             width: 100%;
//             overflow: hidden;
//             display: flex;

//             video {
//                 border: 3px solid #01579B;
//                 border-radius: 10px;
//                 width: 100%;
//             }
//         }

//         .username {

//             background: rgb(0, 0, 0);
//             background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 212, 255, 0) 100%);

//             border: 3px solid #01579B;
//             border-radius: 10px;
//             border-bottom: hidden;
//             position: absolute;
//             padding: 5px 0;
//             left: 0;
//             width: 100%;
//             font-size: 1.2em;
//             font-weight: 900;
//             text-align: center;
//         }
//     }

//     &.expand {
//         display: flex;
//         width: calc(100vw - 420px);
//         height: calc(100vh - 65px);
//         background-color: rgba(0, 0, 0, .2);

//         .stream {
//             background-color: #f00;
//             height: 100px;
//         }
//     }
// }

.streamsContainer{
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    &.show{
        position: relative;
        visibility: visible;
    }

    .stream{
        position: relative;
        background-color:hsl(200, 4%, 14%);
        border-radius: 15px;
        border: 3px solid hsl(200, 4%, 10%);
    }
        .username {
            // background: rgb(0, 0, 0);
            // background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 212, 255, 0) 100%);
    
            // border-radius: 10px;
            // border-bottom: hidden;
            position: absolute;
            bottom: 0;
            padding: 15px;
            left: 0;
            // width: 100%;
            font-size: 1.2em;
            font-weight: 900;
            // text-align: center;
        }
    // }
    
    .vidContainer{
        // width: 100%;
        display: flex;
        height: 100%;
        overflow: hidden;
        video{
            width: 100%;
            height: 100%;
            // max-height: calc(80vh/2);
            
        }

    }
    &.shrink{
        width: 550px;
        overflow-y: scroll;
        padding: 20px 10px;
        .stream{
            // background-color: #333;
            width: 100%;
            height: 280px;
            margin-bottom: 20px;
        }
        .username{
            padding: 5px;
        }
    }
    &.expand{
        width: 100%;
        display: grid;
        padding: 20px;
        gap: 20px;
        &.len1{
            grid-template-columns: repeat(1,minmax(0, 1fr));
            grid-template-rows: repeat(1,minmax(0, 1fr));
            .stream{
                width: 100%;
                height: 100%;
            }
        }
        &.len2{
            grid-template-columns: repeat(1,minmax(0, 1fr));
            grid-template-rows: repeat(2,minmax(0, 1fr));
            
        }
        &.len3{
            grid-template-rows: repeat(3,minmax(0, 1fr));
        }
        &.len4{
            
            grid-template-columns: repeat(2,minmax(0, 1fr));
            // grid-template-rows: repeat(2,auto);
        }
        &.len5,&.len6{
            grid-template-columns: repeat(3,minmax(0, 1fr));
            grid-template-rows: repeat(2,minmax(0, 1fr));
            
        }
        &.len7,&.len8,&.len9{
            grid-template-columns: repeat(3,minmax(0, 1fr));
            // grid-template-rows: repeat(2,auto);
        }
        grid-auto-rows: 1fr;
        // grid-template-columns: repeat();
    }
}


.main {
    width: calc(100vw - 420px);
    height: calc(100vh - 65px);
    overflow: hidden;
    position: relative;
    transition: width .4s;
    display: flex;

    &.expand {
        width: 100%;
    }

    .whiteboard {
        flex-direction: column;
        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
        &.show {
            display: flex;
            width: 100%;
        }
    }

    .send {
        align-items: center;
        height: 100%;
        display: none;
    }

    .recieve {
        .title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            font-size: 1.3em;
            background-color: rgba(0, 0, 0, .7);
            text-align: center;
        }

        .imageContainer {
            display: flex;
            overflow: hidden;
            width: 100%;

            img {
                width: 100%;
                max-height: 80vh;
                object-fit: contain;
            }
        }
    }



    // .streamsContainer{
    //     &.shrink{
    //         display: none;
    //         flex-direction: column;
    //         background-color: rgba(0,255,0,.1);
    //         width: 500px;

    //     }
    //     &.expand{
    //         background-color: rgba(0,255,255,.1);
    //         width: 100%;
    //         justify-content: center;
    //         flex-direction: row;
    //         flex-wrap: wrap;
    //         .stream{
    //             width: 50%;
    //             margin-bottom: 0;
    //         }
    //     }
    //     &.show{
    //         display: flex;
    //     }

    //     .stream{
    //         position: relative;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         margin-bottom: 10px;
    //         width: 100%;

    //         video {
    //             border: 3px solid rgba(0,0,0,.2);
    //             border-radius: 4px;
    //             width: 100%;
    //         }
    //         .username{

    //             padding: .8% 0 1.5% 0;
    //             background: rgb(0,0,0);
    //             background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 40%, rgba(0,212,255,0) 100%);            position: absolute;
    //             top: 0;
    //             left: 0;
    //             width: 100%;
    //             text-align: center;
    //             font-size: 1.2em;
    //         }

    //         &.self{
    //             video {
    //                 border: 3px solid #01579B;
    //             }
    //         }
    //     }
    // }







}

.msgMode {
    display: flex;
    align-items: center;
}

.question {
    color: #64B5F6;
}

.answer {
    color: #26C6DA;
}

.selected {
    background-color: #eee !important;
    color: #000 !important;
}

.selfUserContainer {
    font-style: italic;

    .caption {
        opacity: .7;
        font-size: .9em;
        color: #ccc;
        font-style: normal;
    }
}

.fastplayContainer {
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    visibility: hidden;

    &.show {
        visibility: visible;
    }

    .imageContainer {
        ////
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            overflow: hidden;
            border: 3px solid #aaa;
            border-radius: 5px;
        }
    }

    ///
    .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        font-size: 1.3em;
        text-align: center;
        background-color: #000;
    }

    .closeIconContainer {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #444 !important;
        transition: transform .2s, background .2s;

        &:hover {
            transform: scale(1.07);
            background-color: #333 !important;
        }
    }
}

.moreContainer {
    position: relative;
    display: flex;

    .moreList {
        background: hsl(210, 3%, 13%);
        border-radius: 8px;
        overflow: hidden;
        position: absolute;
        bottom: calc(100% - 15px);
        opacity: 0;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        transition: visibility .2s, bottom .2s, opacity .2s;


        &.show {
            visibility: visible;
            bottom: calc(100% + 10px);
            opacity: 1;
        }

        .listItem {
            white-space: nowrap;
            padding: 12px 15px;
        }
    }
}

.login{
    background-color: rgba(0,0,0,.2);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    backdrop-filter: blur(15px);

    display: none;
    &.show{
        display: flex;
    }

    p{
        font-size: 2em;
    }
    .inputs{
        min-width: 340px;
        margin-bottom: 30px;
    }
    button{
        background-color: #fff;
        color: #000;
        border-radius: 3px;
    }
    // .loginForm {
        // background-color: #f00;
        // background-color: #000;
        // position: absolute;
        // background-color: #222;
        // z-index: 999;
        // top: 0;
        // left: 0;
        // visibility: hidden;
        // &.show {
            // visibility: visible;
        // }
    
    // }
}