.formContainer {
    // background-color: #000;
    position: absolute;
    background-color: #333;
    z-index: 999;
    top: 0;
    left: 0;
}

* {
    box-sizing: border-box;
}

.streamsContainer {
    width: calc(100vw - 420px);
    height: calc(100vh - 60px);
    // width: calc(100vw);
    overflow: hidden;


    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 10px;



    .vidContainer {
        display: flex;
        min-height: 100px;
        min-width: 150px;
        position: relative;
        video {
            border: 3px solid rgba(0,0,0,.2);
            border-radius: 4px;
            width: 100%;
        }
        .username{
            padding: .8% 0 1.5% 0;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 40%, rgba(0,212,255,0) 100%);            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            
        }
        &.self{
            video {
                border: 3px solid #01579B;
            }
            
        }
    }

}
#whiteboard{
//     border: 1px solid #f00;
//     width: 400px;
//     height: 400px;
    border: 1px solid black;
    width: 560px;
    height: 360px;
}
.whiteboardContainer{
    position: relative;
    .buttonsContainer{
        position: absolute;
        top: 360px;
        left: 0;
        background-color: #000;
    }
}
.msgMode{
    display: flex;
    align-items: center;
}
.question{
    color:#64B5F6;
}
.answer{
    color: #26C6DA;
}
.replyContainer{
    padding: 10px 7px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #64B5F6;
    span{
        color: #999;
        display: flex;
        cursor: pointer;
    }
}
.rating{
    margin-top:10px;
}
// .users{
//     background-color: #f00;

// }